@media screen and (min-width: 428px) {
  .team-container > .container {
    max-width: 264px;
  }

  .mob-menu>.container {
    max-width: 428px;
    align-items: center;
  justify-content: stretch;
  }

  /* hero */

  .hero > .container {
    max-width: 428px;
  }

  .hero-container > .conteiner {
    max-width: 428px;
  }

  .hero-title {
    margin-left: auto;
    margin-right: auto;
  }

  /* services */

  /* strategy */

  .strategy > .container {
    max-width: 428px;
  }

  .strategy {
    padding: 96px 0;
  }

  /* customers */

  .customers > .container {
    max-width: 428px;
  }

  /* footer */

  .footer-content > .container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-list .list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  .subscribe-input {
    min-width: 320px;
  }

  .subscribe-box {
    max-width: 428px;
  }

  .subscribe-title {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mob-menu {
    display:none;
    
  }

  /* heder-navigation */

  .container-nav {
    padding: 0 16px;
  }

  .header {
    margin-left: auto;
    margin-right: auto;
  }

  .header-logo {
    margin-right: 120px;
    margin-left: 0;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-list {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .header-link:hover,
  .header-link:focus {
    color: #404bbf;
  }

  .hdr-link {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
    padding: 24px 0;
  }

  .header-adress-list {
    list-style: none;
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-left: auto;
    color: #2e2f42;
  }

  .list {
    margin-right: 0;
  }

  .header-adress-link {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
  }

  .header-adress-link:hover,
  .header-adress-link:focus {
    color: #404bbf;
  }

  .mob-menu>.container {
    max-width: 767px;
    display:none;
  }

  .menu-open-btn {
display: none;
  }

  /* hero */

  .hero > .container {
    max-width: 767px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund_images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/backgraund_images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 60px;
    width: 496px;
    height: 120px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* services */

  .services > .container {
    min-width: 764px;
  }

  .services {
    display: none;
    padding-bottom: 0;
  }

  /* strategy */

  .strategy > .container {
    max-width: 767px;
  }

  .strategy {
    padding: 96px 0;
  }

  .list-container {
    width: calc((100% - 24px) / 2);
  }

  .strategy-list {
    flex-wrap: wrap;
    gap: 72px;
    column-gap: 24px;
    flex-direction: row;
  }

  .strategy-title {
    text-align: left;
  }

  /* team */

  .team > .container {
    max-width: 582px;
  }

  .team-line {
    width: calc((100% - 24px) / 2);
    min-width: 264px;
  }

  .team-list {
    gap: 72px;
    column-gap: 24px;
  }

  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: #31d0aa;
  }

  /* customers */

  .customers > .container {
    max-width: 582px;
  }

  .customers-soc-item {
    width: calc((100% - 48px) / 3);
  }

  .customers-soc-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .customers {
    padding-top: 106px;
    padding-bottom: 86px;
  }

  /* footer */

  .footer-content > .conteiner {
    padding-right: 0;
    padding-left: 0;
    display: flex;
  }

  .footer-container {
    max-width: 264px;
    margin: 0;
    margin-right: 24px;
  }

  .footer-content {
    max-width: 582px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
  }

  .footer-name {
    align-items: start;
  }
  .footer-link {
    margin-left: 24px;
  }

  .subscribe-box {
    max-width: 582px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 0;
    justify-content: left;
  }

  .subscribe-title {
    justify-content: left;
  }

  .subscribe-icon {
    justify-content: baseline;
  }

  .subscribe-btn {
    margin-top: 24px;
  }

  .subscribe-input {
    width: 264px;
    padding-left: 16px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .mob-menu>.container {
    max-width: 1158px;
    display:none;
  }

  /* heder-navigation */

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link:hover,
  .header-link:focus li {
    color: #404bbf;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
    padding: 24px 0;
  }

  .header-adress-list {
    list-style: none;
    display: flex;
    gap: 40px;
    flex-direction: row-reverse;
  }

  .header-adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress-link:hover,
  .header-adress-link:focus {
    color: #404bbf;
  }

  .menu-open-btn {
    display: none;
  }

  /* hero */

  .hero > .container {
    max-width: 1158px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund_images/hero-bg.jpg);
    padding: 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/backgraund_images/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* services */

  .services > .container {
    max-width: 1158px;
    padding: 0 0 120px 0;
    margin-left: auto;
    margin-right: auto;
  }

  .services {
    display: flex;
  }

  .services-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-top: 0;
    margin-bottom: 72px;
  }

  .services-line {
    background-color: var(--brand-color);
  }

  .services-images {
    display: flex;
    gap: 24px;
  }

  /* strategy */

  .strategy > .container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 120px 0;
  }

  .strategy {
    padding: 0;
  }

  .list-container {
    width: calc((100% - 72px) / 4);
  }

  .strategy-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-top: 0;
    margin-bottom: 8px;
  }

  .strategy-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .interface-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .strategy-icon-container {
    display: flex;
  }

  /* team */

  .team > .container {
    max-width: 1158px;
  }
  .team {
    padding: 120px 0;
    margin-left: auto;
    margin-right: auto;
  }

  .team-line {
    width: calc((100% - 72px) / 4);
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: #31d0aa;
  }

  /* customers */
  .customers > .container {
    max-width: 1158px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-soc-list {
    flex-wrap: nowrap;
  }

  .customers-soc-item {
    width: calc((100% - 120px) / 6);
    gap: 24px;
  }

  .modal-close {
    max-width: 408px;
  }

  /* footer */

  .footer-content > .conteiner {
    max-width: 1158px;
    padding: 100px 0;
  }
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    margin-right: 120px;
    margin-left: 0;
    margin-right: 0;
    max-width: 264px;
    margin-right: 120px;
  }

  .footer-content {
    flex-wrap: nowrap;
  }

  .footer-text {
    min-width: 264px;
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-link {
    margin-bottom: 16px;
  }

  .footer-name {
    margin-left: 0;
  }

  .subscribe-box {
    flex-wrap: nowrap;
  }

  .subscribe-title {
    margin-left: 80px;
  }

  .subscribe-input {
    margin-left: 80px;
    min-width: 264px;
    margin-top: 0;
    margin-bottom: 80px;
  }

  .subscribe-btn {
    margin-bottom: 64px;
  }
}
