@media screen and (min-width: 428px) {
  .container {
    max-width: 294px;
  }

  /* hero */

  .hero > .container {
    max-width: 294px;
  }

  .hero-title {
    width: 320px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  /* services */

  .services>.container {
    min-width: 294px;
  }

  .services-container {
    display: none;
  }

  /* strategy */

  .strategy > .container {
    max-width: 426px;
  }

  .strategy {
    padding: 96px 0;
  }

  /* customers */

  .customers > .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 767px;
  }
  /* hero */

  .hero > .container {
    max-width: 767px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 60px;
    width: 496px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }

  /* services */

  .services>.container {
    min-width: 764px;
  }

  .services {
    display: none;
    padding-bottom: 0;
  }

  /* strategy */

  .strategy > .container {
    max-width: 767px;
  }

  .strategy {
    padding: 96px 0;
  }

  .list-container {
    width: calc((100% - 24px) / 2);
  }

  .strategy-title {
    text-align: left;
  }

  /* team */
  .team > .container {
    max-width: 582px;
  }

  .team-line {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 24px;
  }

  /* customers */

  .customers > .container {
    max-width: 582px;
  }

  .customers-soc-item {
    width: calc((100% - 48px) / 3);
  }

  .customers-soc-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .customers {
    padding-top: 106px;
    padding-bottom: 86px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  /* hero */

  .hero > .container {
    max-width: 1158px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  /* services */

  .services>.container {
    min-width: 1158px;
  }
  
.services {
  display: flex;
}


  /* strategy */
  .strategy > .container {
    max-width: 1158px;
  }

  .list-container {
    width: calc((100% - 72px) / 4);
  }

  .strategy-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-top: 0;
    margin-bottom: 8px;
  }

  .interface-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .strategy-icon-container {
    display: flex;
  }

  /* team */

  .team > .container {
    max-width: 1158px;
  }

  .team-line {
    width: calc((100% - 72px) / 4);
  }

  .team-list {
    flex-wrap: nowrap;
  }

  /* customers */
  .customers > .container {
    max-width: 1158px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-soc-list {
    flex-wrap: nowrap;
  }

  .customers-soc-item {
    width: calc((100% - 120px) / 6);
    gap: 24px;
  }
}
