html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* navigation */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.container {
  /* width: 1158px; dobavit v dextop */
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-page {
  color: var(--brand-color);
}

.header-list {
  list-style: none;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.hdr-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
  width: 100%;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.page-heder {
  background-color: #ffffff;
}

/* contacts */

.header-navigation {
  display: flex;
  align-items: center;
  max-width: 261px;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  padding: 24px 0;
}

.header-adress {
  font-style: normal;
  margin-left: auto;
}

.header-adress-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: #404bbf;
}

/* interface */
.interface {
  padding: 96px 0 120px;
}

.interface-list-btn {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.interface-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.interface-button:hover,
.interface-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.interface-ikon-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.link-container {
  width: calc((100% - 48px) / 3);
}

.title-interface-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.interface-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-top: 0;
  margin-bottom: 8px;
}

.interface-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 0;
  margin-bottom: 0;
}
.interface-image {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.interface-image:hover .interface-cover-text,
.interface-image:focus .interface-cover-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px, rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}

.interface-cover-wrap {
  position: relative;
  overflow: hidden;
}

.interface-cover-text {
  position: absolute;
  top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.footer {
  background-color: var(--brand-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-cotent {
  display: flex;
  align-items: baseline;
}

.footer-container {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 120px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  max-width: 71px;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 264px;
}

.footer-soc-conteiner {
}

.footer-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

/* subscribe */
.subscribe-box {
  margin-left: 80px;
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 0;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-lable {
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.footer-icon-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: #ffffff;
}

/* FORM */

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 0;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-form {
}

.modal-box-lable {
  margin-bottom: 8px;
}

.modal-form-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-lable:hover,
.modal-form-lable:focus + .modal-form-ikon {
  fill: #4d5ae5;
}

.modal-box-form {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-comment {
  margin-bottom: 16px;
}

.modal-form-texterea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-texterea:hover,
.modal-form-texterea:focus {
  border-color: #4d5ae5;
}

/* checkbox */

.modal-box-checkbox {
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-checkbox-lable {
  display: inline;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox-input:checked + .modal-checkbox-lable .modal-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-link {
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

/* main page  */

/* hero */

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--brand-color);
  text-align: center;
  align-items: center;
  padding-bottom: 112px;
  padding-top: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgraund_images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  max-width: 1440px;
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
}

/* .hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
} */

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* strategy */

.strategy {
  padding: 120px 0;
}

.strategy-container {
  display: flex;
}

.services-images {
  display: flex;
  gap: 24px;
}

.list-container {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.strategy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
/* 
.strategy-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
} */
.strategy-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.strategy-icon-container {
  justify-content: center;
  gap: 24px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}

/* .interface-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}  */

.interface-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* services */

/* .services-container {
  display: flex;
} */

 .services {
  padding-bottom: 120px;
} 

 .services-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-top: 0;
  margin-bottom: 72px;
} 

.services-line {
  background-color: var(--brand-color);
} 

/* team */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 72px;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--brand-color);
  margin-top: 0;
  margin-bottom: 72px;
}

.title-container {
  padding: 32px 16px;
}

.image-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}

.team-line {
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* width: calc((100% - 72) / 4); */
  width: 100%;
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

/* customers */

.customers-container {
  text-align: center;
}

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 72px;
}

.customers-soc-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-soc-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-soc-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.customers-soc-link {
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-soc-link:hover,
.customers-soc-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-soc-link:hover,
.customers-soc-link:focus .customers-soc-icon {
  border-color: #404bbf;
  color: #404bbf;
}

.imges {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

:root {
  --brand-color: #2e2f42;
}
